@use 'base/variables' as v;
@use 'base/mixins' as m;

.menu-redes {
    @include m.menu-social(v.$blanco, 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;

    @include m.tablet {
        margin-top: 0;
        justify-content: flex-end;
    }
}